<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="autotest suite" configfailurepolicy="continue" parallel="tests">
    <groups>
        <run>
            <include name="auth"/>
            <exclude name="checkCustomers"/>
            <exclude name="checkCatalog"/>
        </run>
    </groups>
    <test name="authorization" parallel="methods">
        <classes>
            <class name="petr.example.Authorization"></class>
        </classes>
    </test>
    <test name="checkForCustomers" parallel="methods">
        <classes>
            <class name="petr.example.customers.CustomersTest"></class>
            <class name="petr.example.customers.ImportExportTest"></class>
            <class name="petr.example.customers.NewsletterTest"></class>
        </classes>
    </test>
    <test name="checkForCatalog" parallel="methods">
        <classes>
            <class name="petr.example.catalog.Catalog"></class>
            <class name="petr.example.catalog.Attributes"></class>
            <class name="petr.example.catalog.Manufacturers"></class>
            <class name="petr.example.catalog.Suppliers"></class>
            <class name="petr.example.catalog.DeliveryStatuses"></class>
            <class name="petr.example.catalog.SoldOutStatuses"></class>
            <class name="petr.example.catalog.QuantityUnits"></class>
            <class name="petr.example.catalog.CsvImportExport"></class>
        </classes>
    </test>
</suite>