<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="autotest suite" configfailurepolicy="continue" parallel="tests">
    <test name="litecartadmin">
<!--        <classes>-->
<!--            <class name="petr.example.Authorization"></class>-->
<!--        </classes>-->
        <packages>
            <package name="petr.example.*"></package>
        </packages>
    </test>
</suite>